# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
ENV/
env/
.env

# Testing and coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.cache/
.tox/
.nox/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
